body {
    padding-top: 40px;
}

h1{
  margin-left: 30px;
  margin-bottom: 20px;
  margin-top: 10px;
  font-family:"Segoe print", Arial, Helvetica, sans-serif;
}

.footer {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    text-align: center;
}

.articleTitle:hover, .articleTitle:focus {
    text-decoration: none;
}

img {
    height: 40%;
    width: 40%;
}

.pneuDesc{
  padding: 5px;
}
